<!-- Indicates caution should be taken with this action -->
<div class="container">
    <div class="d-flex justify-content-start mt-3">
      <div class="p-2">공지사항</div>
      <div class="p-2">자유게시판</div>
      <div class="ml-auto p-2">
           <button type="button" class="btn btn-warning" onclick="location.href='/posts/new'">글쓰기</button>
      </div>
    </div>
</div>

<div class="container mt-3">
    <table class="table table-hover">
      <thead class="thead-default">
        <tr>
          <th>#</th>
          <th>제목</th>
          <th>글쓴이</th>
          <th>시간</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td><a href="#">Mark</a></td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td><a href="#">Mark</a></td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td><a href="#">Mark</a></td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
     
      </tbody>
    </table>
</div>